################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PGM/PGM/bin/Debug
/PGM/PGM/obj
*.suo
/bibrec/BibRec/bin/Debug
/bibrec/BibRec/obj/Debug
/railway/railway/bin/Debug
/railway/railway/obj/Debug
/railway/TestRailway/obj/Debug
/Searcher/DocxSearcherPlug/obj/Debug
/Searcher/NETSearcherPlug/obj/Debug
/Searcher/Searcher/bin/Debug
/Searcher/Searcher/obj/Debug
/Searcher/SearcherCore/bin/Debug
/Searcher/SearcherCore/obj/Debug
/Searcher/SearcherExtensibility/bin/Debug
/Searcher/SearcherExtensibility/obj/Debug
/tms/bin/Debug
/tms/obj/Debug
/Searcher/XMLSearcherPlug/obj/Debug
