################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PGM/PGM/bin/Debug
/PGM/PGM/obj
*.suo
